<h1 class="margin-bottom">Settings</h1>

<form role="form" method="post" class="form-horizontal form-groups-bordered validate" action="" novalidate="novalidate">

    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-primary" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title">
                        General Settings
                    </div>

                    <div class="panel-options">
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    
                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label">Work Dir</label>

                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="field-1" ng-model="settings.WorkDir">
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Version Control System</label>
                        <div class="col-sm-5">
                            <select class="form-control" ng-model="settings.VersionControlSystem" ng-options="vcs.name for vcs in versionControlSystems">
                                <option value="">-- choose color --</option>
                            </select>
                        </div>
                    </div>
                    
                    <!-- examples -->
                    <div class="form-group">
                        <label for="field-git-executable" class="col-sm-3 control-label">Git executable</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="field-git-executable" value="" placeholder="C:\Program Files (x86)\Git\bin">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-nuget-server-url" class="col-sm-3 control-label">NuGet Server URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="field-nuget-server-url" value="" placeholder="http://localhost/nuggy">
                            <span class="description">Link to NuGet Server where PowerDeploy will fetch your packages.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-3" class="col-sm-3 control-label">Source Control System</label>
                        <div class="col-sm-8">
                            <select class="form-control">
                                <option>Git</option>
                                <option>TFS (not supported yet)</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-3" class="col-sm-3 control-label">Repository URL</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="site-url" id="field-3" data-validate="required,url" value="" placeholder="https://github.com/tobiaszuercher/PowerDeploy.git">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-4" class="col-sm-3 control-label">Environment Path</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="email" id="field-4" data-validate="required" value="" placeholder="/.powerdeploy">
                            <span class="description">Path to the .powerdeploy folder relative to the repository root.</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="form-group default-padding">
        <button type="submit" class="btn btn-success">Save Changes</button>
        <button type="reset" class="btn">Reset Previous</button>
    </div>

</form>