<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.5" version="v4.0"/>
	</startup>
	<appSettings>
		<add key="Setting" value="${SAMPLE_APP_CONSOLE_Setting}"/>
		<add key="TestWithEnvInPropperty" value="${Property1}"/>
		<add key="TestWithEnv" value="${env}"/>
		<add key="TestWithEnvAndSubenv" value="Env: ${env}, subenv: ${subenv}"/>
		<add key="TestWithEnvInDefaultValue" value="${DefaultPropertyWithEnv=Env:$[env]$[subenv]}" />
	</appSettings>
</configuration>