<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.5" version="v4.0"/>
	</startup>
	<appSettings>
		<add key="Setting" value="iddqd"/>
		<add key="TestWithEnvInPropperty" value="111LOCAL"/>
		<add key="TestWithEnv" value="LOCAL"/>
		<add key="TestWithEnvAndSubenv" value="Env: LOCAL, subenv: "/>
		<add key="TestWithEnvInDefaultValue" value="Env:LOCAL" />
	</appSettings>
</configuration>

