<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.5" version="v4.0"/>
	</startup>
	<appSettings>
    <add key="NormalProperty" value="222" />
    <add key="Property_with_default_value" value="defaultforsomething" />
    <add key="Env_and_subenv" value="Env: PREPROD, Subenv: "/>
    <add key="Property_with_env_in_default_value" value="env:PREPROD"/>
    
		<add key="Setting" value="preprod"/>
		<add key="TestWithEnvInPropperty" value="111PREPROD"/>
		<add key="TestWithEnv" value="PREPROD"/>
		<add key="TestWithEnvAndSubenv" value="Env: PREPROD, subenv: "/>
		<add key="TestWithEnvInDefaultValue" value="Env:PREPROD" />
    <add key="Test" value="powerdeploy/$env" />
	</appSettings>
</configuration>

