<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.5" version="v4.0"/>
	</startup>
	<appSettings>
	    <add key="NormalProperty" value="222" />
	    <add key="Property_with_default_value" value="defaultforsomething" />
	    <add key="Env_and_subenv" value="Env: LOCAL, Subenv: "/>
	    <add key="Property_with_env_in_default_value" value="env:LOCAL"/>
	    
		<add key="Setting" value="iddqd"/>
		<add key="TestWithEnvInPropperty" value="111LOCAL"/>
		<add key="TestWithEnv" value="LOCAL"/>
		<add key="TestWithEnvAndSubenv" value="Env: LOCAL, subenv: "/>
		<add key="TestWithEnvInDefaultValue" value="Env:LOCAL" />

	    
		hallo
		var = 222
		
	</appSettings>
</configuration>

