<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.5" version="v4.0"/>
	</startup>
	<appSettings>
	    <add key="NormalProperty" value="${Property2}" />
	    <add key="Property_with_default_value" value="${Something=defaultforsomething}" />
	    <add key="Env_and_subenv" value="Env: ${env}, Subenv: ${subenv}"/>
	    <add key="Property_with_env_in_default_value" value="${Somethingelse=env:$[env]}"/>
	    
		<add key="Setting" value="${SAMPLE_APP_CONSOLE_Setting}"/>
		<add key="TestWithEnvInPropperty" value="${Property1}"/>
		<add key="TestWithEnv" value="${env}"/>
		<add key="TestWithEnvAndSubenv" value="Env: ${env}, subenv: ${subenv}"/>
		<add key="TestWithEnvInDefaultValue" value="${DefaultPropertyWithEnv=Env:$[env]$[subenv]}" />

	    <!-- [if ${SAMPLE_Toggle_Feature_On}]-->
		hallo
		var = ${Property2}
		<!-- [endif]-->
	</appSettings>
</configuration>