@model IEnumerable<MovieFavorites.Model.MovieDto>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Movielist</h2>

<table>
    @foreach (var movie in Model)
    {
        <td>@movie.Title (@movie.Year)</td>
        <td>bla</td>
    }
</table>

@HttpRuntime.AppDomainAppVirtualPath